name: stale
on:
  workflow_call:
    inputs:
      days-before-stale:
        default: 90
        type: number
        description: |
          Idle number of days before marking issues/PRs stale
      days-before-close:
        default: 30
        type: number
        description: |
          Idle number of days before closing stale issues/PRs
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@1160a2240286f5da8ec72b1c0816ce2481aabf84 # v8.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: |-
            This issue is stale because it has been open for 90 days with no
            activity. It will automatically close after 30 more days of
            inactivity. Reopen the issue with `/reopen`. Mark the issue as
            fresh by adding the comment `/remove-lifecycle stale`.
          stale-issue-label: 'lifecycle/stale'
          exempt-issue-labels: 'lifecycle/frozen,triage/accepted'
          stale-pr-message: |-
            This Pull Request is stale because it has been open for 90 days with
            no activity. It will automatically close after 30 more days of
            inactivity. Reopen with `/reopen`. Mark as fresh by adding the
            comment `/remove-lifecycle stale`.
          stale-pr-label: 'lifecycle/stale'
          exempt-pr-labels: 'lifecycle/frozen'
          days-before-stale: ${{ inputs.days-before-stale }}
          days-before-close: ${{ inputs.days-before-close }}
