name: Reusable Go build smoke test
on:
  workflow_call:
    inputs:
      paths:
        required: false
        type: string
        description: |
          the Go entrypoint paths for applications, where there they have `package main`
          e.g: ./cmd/thing1 ./cmd/thing2
jobs:
  go-build-smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
          check-latest: true
      - id: run-info
        name: collect job run info
        run: |
          if [ -n "${{ inputs.paths }}" ]; then
            echo "paths=$(echo '${{ inputs.paths }}' | tr '\n' ' ')" >> $GITHUB_OUTPUT
          else
            PATHS="$(go list -json ./... | jq -r -s '.[] | select (.Name == "main") | .ImportPath' | xargs)"
            echo "paths="$PATHS"" >> $GITHUB_OUTPUT
          fi
      - id: build
        env:
          PATHS: ${{ steps.run-info.outputs.paths }}
        run: |
          echo "$PATHS" | tr ' ' '\n' | xargs -i -n 1 go build -o /dev/null '{}'
